//
   Created with JetBrains WebStorm.
   User: DennisHoeting
   Date: 11.05.13
   Time: 17:18
   To change this template use File | Settings | File Templates.
.modal-header
    h1 Passwort vergessen
.modal-body
    label(for='forgotPasswordLogin') eMail eingeben
    input#forgotPasswordLogin(type='text', placeholder='eMail', ng-model='email')
.modal-footer
    gm-button(ng-click='close()') Abbrechen
    gm-button(ng-click='close(email)') Senden
