//
   Created with JetBrains WebStorm.
   User: DennisHoeting
   Date: 08.05.13
   Time: 13:42
   To change this template use File | Settings | File Templates.

div
    .controls
        gm-button(ng-click='refreshView()')
            i.icon-refresh.wide
            | Erneuern
    h1.contentTitle Tracks
    .overviewColumn
        label: span.wide Abfrageformulierung
        label Threshold
            input.small(type="number", ng-model="data.threshold")
        gm-button(ng-click="getMotionData()") Abfrage!
        hr
        span {{selectedMotion | json}}
    .contentColumn
        label Anzahl: {{data.limit}}
        .content.mapContent
            #motionMap(style='border: 1px solid black; height: 100%; width: 100%;')