//
   Created with JetBrains WebStorm.
   User: DennisHoeting
   Date: 18.06.13
   Time: 09:35
   To change this template use File | Settings | File Templates.


ul.nav.nav-tabs
    li.actionNav(ng-click='routeToOverview()'): a.black Übersicht
    li.actionNav(ng-click='routeToMap(currentId)'): a.black Karte
    li.actionNav(ng-click='routeToStats(currentId)'): a.black Statistiken