//
   Created with JetBrains WebStorm.
   User: DennisHoeting
   Date: 06.08.13
   Time: 17:21
   To change this template use File | Settings | File Templates.

.controls(ng-controller='ActionControlsCtrl')
    gm-button(ng-click='openUploadDialog()')
        i.icon-upload.wide
        | Track hochladen
    gm-button(ng-click='refreshView()')
        i.icon-refresh.wide
        | Erneuern