//
   Created with JetBrains WebStorm.
   User: DennisHoeting
   Date: 08.05.13
   Time: 16:37
   To change this template use File | Settings | File Templates.

div.fullHeight
    include activityList
    .mapHeading
        ul.inline
            li: a back to overview
            li: a previous action
            li: a next action
    #historyMapContainer
        #historyMap(style='border: 1px solid black; height: 100%; width: 100%;')
