//
   Created with JetBrains WebStorm.
   User: DennisHoeting
   Date: 01.06.13
   Time: 14:24
   To change this template use File | Settings | File Templates.

.overviewColumn(ng-controller='ActionListCtrl')
    div(ng-repeat='action in model.actionList|limitTo:actionLimit')
        span(ng-hide="sameBulk(action, model.actionList[$index-1])") {{action.time|date:'dd.MM.yy'}}
        .action(ng-click='routeToAction(action.id)',
                class='actiontype-{{action.actiontype}}',
                ng-class='{active: currentId == action.id}')
            i.wide.icon-plus(ng-hide='action.expanded')
            {{action.actiontypename}}
            i.wide.icon-arrow-right
            | {{action.pointsearned|number:0}}
            i.wide.icon-leaf
    .centered
        gm-button(ng-click='increaseLimit()') mehr