//
   Created with JetBrains WebStorm.
   User: DennisHoeting
   Date: 08.05.13
   Time: 16:37
   To change this template use File | Settings | File Templates.

.fullHeight
    include activityList
    .block
        h1 Gesamtstatistik
        ul.inline.text-center
            li: a(href='#'): i.icon-arrow-left.wide
            li Heute
            li: a(href='#'): i.icon-arrow-right.wide
        ul.inline.text-center
            li: a(href='#'): i.icon-arrow-left.wide
            li Laufen
            li: a(href='#'): i.icon-arrow-right.wide
        table.form
            tr
                td: b Anzahl Aktivitäten
                td 357
            tr
                td: b Entfernung
                td 165,52km
            tr
                td: b Benzin Gespart
                td 52,43&euro;
