//
   Created with JetBrains WebStorm.
   User: DennisHoeting
   Date: 09.05.13
   Time: 11:42
   To change this template use File | Settings | File Templates.
.modal-header
    h1 Fehler
.modal-body
    p {{message}}
.modal-footer
    gm-button(ng-click='close()') Bestätigen
