//
   Created with JetBrains WebStorm.
   User: DennisHoeting
   Date: 08.05.13
   Time: 16:29
   To change this template use File | Settings | File Templates.

!!!5
html(ng-app='mainApp')
    head
        include includes/styles
        link(rel="stylesheet", href="css/mainStyle.css")

        script(src='lib/jquery/jquery.min.js')
        !{mainlibjs}
        !{sharedjs}
        !{mainjs}

        script(src='lib/showdown/showdown.js')
        script(src='lib/underscore/underscore-min.js')
        script(src='lib/showdown/showdown.js')
        script(src='lib/ui-bootstrap/bootstrap-tab.js')
        script(src='lib/angular/angular-locale_de-de.js')
        script(src='socket.io/socket.io.js') // virtual
    body(ng-controller='MainCtrl')
        #leaf
        #corner
            gm-button(ng-click="feedback()")
                i.wide.icon-bullhorn
                | Feedback
            a(href="{{appLink}}", target="_blank")
                img(alt="Android app on Google Play",
                    src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png")
        div(modal='loadingStatus<1', options="modalOpts")
         .loadingModal
             h1 Lade Daten ...
             p Bitte warten
        #events: gm-alert(ng-repeat='alert in alerts', type='alert.type', close='closeAlert($index)') {{alert.msg}}
        header: h1 Gremo
        nav
            ul.inline
                li: a.white(href='/main')
                    i.icon-road.wide
                    | Aktivitäten
                li: a.white(href='/communities')
                    i.icon-glass.wide
                    | Community
                li: a.white(href='/messages')
                    i.icon-comment.wide
                    | Nachrichten ({{messages.unreadMessages}})
                li: a.white(href='/statistics')
                    i.icon-th-list.wide
                    | Statistik
                li: a.white(href='/settings')
                    i.icon-wrench.wide
                    | Einstellungen
                li: a.white(href='/logout')
                    i.icon-off.wide
                    | Logout
        #view(ng-view)
        footer
            a(ng-click="openDisclaimer()")
                i.wide.icon-briefcase
                | Impressum
            | |
            a(ng-click="openContact()")
                i.wide.icon-envelope
                | Kontakt